################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ScrumPoker/ScrumPoker.Common/bin/Debug/netcoreapp3.1
**/bin/*
**/obj/*
**/.vs/*
bin
obj
*.suo