@page "/game/{GameId}"
<div class="m-4 text-center">
    <input type="text" placeholder="Enter name" @bind-value="@User"  />
    <button type="button" value="Submit" @onclick="OnAddingName">Press</button>
</div>

@code
{

    [Parameter]
    public string GameId { get; set; }

    [Parameter]
    public string User { get; set; }

    [Inject]
    public NavigationManager navService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (string.IsNullOrEmpty(GameId) || !Guid.TryParse(GameId, out Guid id))
        {
            navService.NavigateTo("/error/InValidGameId");
        }


    }

    protected void OnAddingName(EventArgs e)
    {
        
        navService.NavigateTo($"/game/{GameId}/{User}");
    }

}